<%= render partial: "helpers/header" %>
<h1 style= "text-align:center">Directory of Health Proffesionals</h1>
<img class="ui fluid image" src="/assets/docs.jpg">
<% @admins.each do |admin|%>
    <ul>
        <li><%=link_to admin.name, admin_path(admin)%></li>
    </ul>
<%end%>