<%= render partial: "helpers/header" %>
<h1 id="admin-index-header">ABOUT PAGE </h1>

<div class="ui piled segment">
<p> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean diam tellus, ultricies sit amet sollicitudin sed, dapibus vel ligula. Etiam auctor neque quis felis faucibus, quis congue lorem vehicula. Etiam at sem porttitor, fringilla nibh non, malesuada sapien. Nunc lacus urna, bibendum at elit sed, maximus cursus leo. Curabitur at ultrices eros, vel maximus nisl. In hac habitasse platea dictumst. Nulla laoreet scelerisque enim eu facilisis. Ut vel efficitur sem. Morbi malesuada lacus id lacus faucibus porta. Suspendisse sed elit at nunc elementum tincidunt non at sapien.

Phasellus ornare dui nec faucibus pulvinar. Etiam maximus a mi eu efficitur. Vestibulum hendrerit, ligula in porta sagittis, arcu arcu euismod ipsum, vulputate tristique tortor turpis sed nulla. Sed malesuada nibh dolor, at interdum dui scelerisque quis. Vestibulum sollicitudin, dolor molestie aliquet hendrerit, risus mauris suscipit tortor, auctor scelerisque est leo eu lorem. Proin ultrices interdum convallis. Aliquam at pharetra urna, ut bibendum metus. Cras eget gravida ipsum. Donec pellentesque mauris et tincidunt fringilla. Sed quis eros sed ex finibus ultricies in id justo. Aliquam id felis auctor nunc varius commodo.

Etiam sagittis scelerisque dignissim. Nam volutpat, nisi sit amet vulputate convallis, nibh sapien condimentum ante, nec sagittis leo turpis eleifend lacus. Proin vitae luctus tortor, vel euismod magna. Donec gravida magna nec leo blandit vehicula. Sed quis aliquam nisi. Quisque at metus viverra, vulputate lacus non, auctor lacus. Nunc pellentesque placerat mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec tristique justo ac tellus dignissim euismod.

In id accumsan erat. Vivamus ultricies odio ut lacus tincidunt, vel vehicula ex fermentum. Sed fermentum quam ut ipsum auctor, vitae vehicula ex dapibus. Ut lacinia purus in enim ultricies, nec consectetur leo consequat. Phasellus pulvinar purus ut ante dignissim tincidunt. In non cursus purus. Suspendisse dolor urna, lobortis nec bibendum vel, malesuada a nisl. Suspendisse eu nibh sed libero ultrices vulputate. Quisque convallis purus vitae aliquet ultricies. Suspendisse egestas velit ipsum, sed finibus nisl rhoncus quis.

</p>
<img class="ui centered medium image" src="/assets/client.jpg">


</div>


