<h1> Mental Health Directory </h1>

<%= render partial: "helpers/header" %>
<img src= "assets/Homepage, Mental Health.jpg" alt = "no img" class="ui fluid image"   >

<i class="tn flag"></i>
<%= render partial: "helpers/footer" %>


